// Place all the styles related to the Sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map-canvas {
    margin: auto;
    height: 900px;
    width: 75%;
}

#sites-panel {
    margin: auto;
    float: left;
    width: 25%;
    height: 900px;
    top:70px;
    background-color: #FF7A00;
    overflow-y: scroll;
    color: white;
    position:relative;
}

.sites {
    height: 140px;
    width: 100%;
    background-color: #CACACA;
    border: 1px solid grey;
}

.address {
    font-size:7px;
    font-weight:bold;
    color:black;
    word-wrap: break-word;
}

.description {
    font-size: 9px;
    color:black;
    word-wrap: break-word;
}

.status {
    font-size: 10px;
    color:grey;
    word-wrap: break-word;
}

.pictureDiv {
    width:50%;
    height:140px;
    float:left;
}

.textDiv {
    width:50%;
    height:140px;
    float:right;
}

.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}