<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
     <div class="navbar-header" style="width:100px;display:block;margin:auto">
        <h1 class="customTitle"> <%= link_to "Milieu", root_path %> </h1>
     </div>
</nav>

