<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:#FF7A00" role="navigation">
     <div class="navbar-header" style="background-color:#FF7A00;width:100px;display:block;margin:auto">
        <h1 class="customTitle" style="color:white">Milieu</h1> 
     </div>
</nav>

